@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
    width: 22px;
    height: 22px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

.invisibleInput {
    -webkit-appearance: none;
    margin: 0;
}
    
.invisibleInput::-webkit-outer-spin-button,
.invisibleInput::-webkit-inner-spin-button {
-webkit-appearance: none;
    margin: 0;
}
